:root { 
  --color-background: #131313;
  --color-background-bold: #080808;
  --color-background-secondary: #232323;
  --color-foreground: #ffffff;
  --color-primary: #ff4d4d;
  --color-secondary: #737373;
 
  --font-size-headline-desktop: 80px;
  --font-size-headline-mobile: 40px;
  --font-size-l2: 12px;
  --font-size-xl: 20px;
  --font-size-xl2: 15px;
  --font-size-xxxl2: 17px;
 
  --font-headlines: "Anton", Helvetica;
  --font-icons: "icons-pack-Regular", Helvetica;
  --font-text: "Work Sans", Helvetica;
}
.headline---desktop-80px {
  font-family: var(--font-headlines);
  font-size: var(--font-size-headline-desktop);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
}

.icons-pack-regular-normal-white-17px {
  color: var(--color-foreground);
  font-family: var(--font-icons);
  font-size: var(--font-size-xxxl2);
  font-style: normal;
  font-weight: 400;
}

.worksans-normal-white-12px {
  color: var(--color-foreground);
  font-family: var(--font-text);
  font-size: var(--font-size-l2);
  font-style: normal;
  font-weight: 400;
}

.worksans-light-white-15px {
  color: var(--color-foreground);
  font-family: var(--font-text);
  font-size: var(--font-size-xl2);
  font-style: normal;
  font-weight: 300;
}

.worksans-medium-white-20px {
  color: var(--color-foreground);
  font-family: var(--font-text);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 500;
}

.btn-border {
  border: 0.8px solid var(--color-foreground);
}
