@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,300,500,800|Anton:400");
@font-face {
  font-family: "icons-pack-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/icons-pack.ttf") format("truetype");
}

.screen a {
  display: contents;
  text-decoration: none;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input:focus {
  outline: none;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

* {
  box-sizing: border-box;
}
