/* screen - indi-desktop-1440 */

.indi-desktop-1440 {
  background-color: var(--log-cabin);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  min-height: 2492px;
  min-width: 1531px;
  width: 100%;
}

.indi-desktop-1440 .content {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 1974px;
  margin-left: 109px;
  max-height: 1974px;
  z-index: 2;
}

.indi-desktop-1440 .hero-container {
  align-items: center;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/6124c11f5c8ef406a632c3fd/files/trailer-m-1.gif);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex: 1;
  flex-direction: column;
  max-height: 544px;
}

.indi-desktop-1440 .main-title {
  color: var(--white);
  font-weight: 400;
  height: 117px;
  margin-left: -802px;
  margin-top: 28px;
  width: 322px;
}

.indi-desktop-1440 .film-info {
  color: var(--sonic-silver);
  font-family: var(--font-family-work_sans);
  font-size: var(--font-size-xl);
  font-weight: 400;
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  margin-left: -900px;
  margin-top: 5px;
  white-space: nowrap;
  width: 224px;
}

.indi-desktop-1440 .film-about {
  color: var(--white);
  font-family: var(--font-family-work_sans);
  font-size: var(--font-size-xxl);
  font-weight: 300;
  height: 78px;
  letter-spacing: 0;
  line-height: 26px;
  margin-left: -732px;
  margin-top: 20px;
  width: 386px;
}

.indi-desktop-1440 .film-credits {
  height: 48px;
  letter-spacing: 0;
  line-height: 24px;
  margin-left: -846px;
  margin-top: 24px;
  width: 278px;
}

.indi-desktop-1440 .btn-watch {
  align-items: flex-start;
  background-color: var(--cod-gray);
  border: 1.0px solid var(--indi-red);
  border-radius: 40.07px;
  cursor: pointer;
  display: flex;
  height: 43.22px;
  justify-content: flex-end;
  margin-left: -968.3px;
  margin-top: 33px;
  min-width: 155.67px;
  padding: 7.9px 23.5px;
  transition: all 0.2s ease;
}

.indi-desktop-1440 .btn-watch:hover {
  transform: scale(1.1);
}

.indi-desktop-1440 .play-ico {
  align-self: center;
  height: 12px;
  margin-bottom: 2.04px;
  width: 12px;
}

.indi-desktop-1440 .text {
  color: var(--indi-red);
  font-family: var(--font-family-work_sans);
  font-size: var(--font-size-xxl);
  font-weight: 300;
  height: 26px;
  letter-spacing: 0;
  line-height: 26px;
  margin-left: 7px;
  white-space: nowrap;
}

.indi-desktop-1440 .container-films-1 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-left: -2px;
  min-height: 715px;
  padding: 0.0px 0;
  width: 1232px;
}

.indi-desktop-1440 .section-title {
  color: var(--white);
  font-family: var(--font-family-work_sans);
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 22px;
  margin-top: 81px;
  min-height: 58px;
  width: 1232px;
}

.indi-desktop-1440 .flex-row {
  align-items: flex-start;
  display: flex;
  height: 576px;
  min-width: 1231px;
}

.indi-desktop-1440 .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 576px;
  width: 190px;
}

.indi-desktop-1440 .film-thumb {
  cursor: pointer;
  height: 280px;
  object-fit: cover;
  transition: all 0.2s ease;
  width: 190px;
}

.indi-desktop-1440 .film-thumb:hover {
  transform: scale(1.04);
}

.indi-desktop-1440 .film-thumb-1 {
  cursor: pointer;
  height: 280px;
  margin-top: 15px;
  object-fit: cover;
  transition: all 0.2s ease;
  width: 190px;
}

.indi-desktop-1440 .film-thumb-1:hover {
  transform: scale(1.04);
}

.indi-desktop-1440 .flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 18px;
  min-height: 576px;
  width: 190px;
}

.indi-desktop-1440 .flex-col-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 17px;
  min-height: 576px;
  width: 190px;
}

.indi-desktop-1440 .sidebar-menu {
  align-items: center;
  background-color: var(--licorice);
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 109px;
  z-index: 3;
}

.indi-desktop-1440 .indi-logo {
  height: 31.5px;
  margin-left: -1.1px;
  margin-top: 30.0px;
  width: 40px;
}

.indi-desktop-1440 .menu-ico-desktop-1 {
  display: flex;
  height: 41px;
  margin-top: 25.5px;
  width: 41px;
}

.indi-desktop-1440 .search-icon {
  cursor: pointer;
  height: 17px;
  letter-spacing: 0;
  margin-left: 11px;
  margin-top: 12px;
  text-align: center;
  transition: all 0.2s ease;
  width: 18px;
}

.indi-desktop-1440 .search-icon:hover {
  color: #FF4E4E
}

.indi-desktop-1440 .menu-ico-desktop-2 {
  display: flex;
  height: 41px;
  margin-top: 26px;
  width: 41px;
}

.indi-desktop-1440 .menu-ico-desktop {
  display: flex;
  height: 41px;
  margin-top: 27px;
  width: 41px;
}

.indi-desktop-1440 .container-promotion {
  background-color: var(--cod-gray);
  display: flex;
  flex: 1;
  height: 386px;
  justify-content: flex-end;
  max-height: 386px;
  z-index: 1;
}

.indi-desktop-1440 .stay-conncted {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 220px;
  margin-left: 158px;
  margin-right: 219px;
  margin-top: 83px;
  width: 653px;
}

.indi-desktop-1440 .stay-connected-text {
  display: flex;
  flex-direction: column;
  height: 138px;
  margin-left: 1px;
  width: 562px;
}

.indi-desktop-1440 .title {
  color: var(--white);
  font-family: var(--font-family-work_sans);
  font-size: var(--font-size-40px);
  font-weight: 800;
  height: 44px;
  letter-spacing: 0;
  line-height: 25.3px;
  width: 517px;
}

.indi-desktop-1440 .paragraph {
  color: var(--white);
  font-family: var(--font-family-work_sans);
  font-size: var(--font-size-xxl);
  font-weight: 300;
  height: 72px;
  letter-spacing: 0;
  line-height: 26px;
  margin-top: 22px;
}

.indi-desktop-1440 .stay-connected-form {
  display: flex;
  margin-left: -210px;
  margin-top: 46px;
  width: 351px;
}

.indi-desktop-1440 .email-input {
  display: flex;
  flex-direction: column;
  height: 36px;
  width: 252px;
}

.indi-desktop-1440 .email {
  background-color: transparent;
  border: 0;
  height: 34px;
  letter-spacing: 0;
  line-height: 24px;
  padding: 0;
  width: 250px;
}

.indi-desktop-1440 .email::placeholder {
  color: #ffffff99;
}

.indi-desktop-1440 .underline {
  background-color: var(--white);
  height: 1px;
  margin-top: 1px;
  width: 250px;
}

.indi-desktop-1440 .btn-submit {
  align-items: center;
  border-radius: 32.45px;
  cursor: pointer;
  display: flex;
  height: 30px;
  justify-content: center;
  margin-left: 16px;
  margin-top: 6px;
  transition: all 0.2s ease;
  width: 83px;
}

.indi-desktop-1440 .btn-submit:hover {
  transform: scale(1.1);
}

.indi-desktop-1440 .text-1 {
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  width: 43px;
}

.indi-desktop-1440 .gif-cinema {
  background-image: url(https://media.giphy.com/media/l6mBchxYZc7Sw/giphy.gif?cid=ecf05e474frq09rr7jscey2cy3i5jgaufeh0n3nh81t50que&rid=giphy.gif&ct=g);
  background-position: 50% 50%;
  background-size: cover;
  margin-right: 1px;
  width: 500px;
}
/* screen - indi-mobile-375 */

.indi-mobile-375 {
  background-color: var(--log-cabin);
  display: flex;
  height: 100vh;
  min-height: 2396px;
  min-width: 375px;
  width: 100%;
}

.indi-mobile-375 .content-1 {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 2343px;
  z-index: 1;
}

.indi-mobile-375 .main-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-height: 1946px;
}

.indi-mobile-375 .hero-container-1 {
  background-color: var(--cod-gray);
  display: flex;
  flex: 1;
  flex-direction: column;
  max-height: 534px;
}

.indi-mobile-375 .film-preview {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/6124c11f5c8ef406a632c3fd/files/trailer-m-1.gif);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex: 1;
  justify-content: center;
  max-height: 243px;
}

.indi-mobile-375 .indi-logo-1 {
  height: 27.5px;
  margin-left: -289.0px;
  margin-top: 19.8px;
  width: 34px;
}

.indi-mobile-375 .title-2 {
  align-self: center;
  color: var(--white);
  font-weight: 400;
  height: 59px;
  margin-left: -162px;
  margin-top: 17px;
  width: 161px;
}

.indi-mobile-375 .film-info-1 {
  align-self: center;
  color: var(--sonic-silver);
  font-family: var(--font-family-work_sans);
  font-size: var(--font-size-s);
  font-weight: 400;
  height: 15px;
  letter-spacing: 0;
  line-height: 15px;
  margin-left: -173px;
  margin-top: 1px;
  white-space: nowrap;
  width: 150px;
}

.indi-mobile-375 .film-about-1 {
  align-self: center;
  color: var(--white);
  font-family: var(--font-family-work_sans);
  font-size: var(--font-size-m);
  font-weight: 300;
  height: 65px;
  letter-spacing: 0;
  line-height: 18px;
  margin-left: -1px;
  margin-top: 9px;
  width: 320px;
}

.indi-mobile-375 .film-credits-1 {
  align-self: center;
  color: var(--white);
  font-family: var(--font-family-work_sans);
  font-size: var(--font-size-s);
  font-weight: 400;
  height: 30px;
  letter-spacing: 0;
  line-height: 15px;
  margin-left: -138px;
  margin-top: 9px;
  width: 185px;
}

.indi-mobile-375 .btn-watch-1 {
  align-items: flex-start;
  align-self: center;
  background-color: var(--cod-gray);
  border: 0.8px solid var(--indi-red);
  border-radius: 35.43px;
  cursor: pointer;
  display: flex;
  height: 38.21px;
  margin-left: -200.4px;
  margin-top: 17px;
  min-width: 122.62px;
  padding: 7.0px 18.6px;
  transition: all 0.2s ease;
}

.indi-mobile-375 .btn-watch-1:hover {
  transform: scale(1.1);
}

.indi-mobile-375 .play-ico-1 {
  align-self: center;
  height: 11px;
  margin-bottom: 1.7px;
  width: 10px;
}

.indi-mobile-375 .text-2 {
  color: var(--indi-red);
  font-family: var(--font-family-work_sans);
  font-size: var(--font-size-l);
  font-weight: 300;
  height: 22px;
  letter-spacing: 0;
  line-height: 22px;
  margin-left: 6px;
  white-space: nowrap;
}

.indi-mobile-375 .container-films-1-1 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  min-height: 706px;
  width: 323px;
}

.indi-mobile-375 .title-1 {
  color: var(--white);
  font-family: var(--font-family-work_sans);
  font-size: var(--font-size-xxxl);
  font-weight: 500;
  letter-spacing: 0;
  line-height: 22px;
  margin-top: 38px;
  min-height: 49px;
  width: 323px;
}

.indi-mobile-375 .flex-row-1 {
  align-items: flex-start;
  display: flex;
  height: 621px;
  min-width: 321px;
}

.indi-mobile-375 .flex-col-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 621px;
  width: 100px;
}

.indi-mobile-375 .film-thumb-2 {
  cursor: pointer;
  height: 150px;
  object-fit: cover;
  transition: all 0.2s ease;
  width: 100px;
}

.indi-mobile-375 .film-thumb-2:hover {
  transform: scale(1.04);
}

.indi-mobile-375 .film-thumb-3 {
  cursor: pointer;
  height: 150px;
  margin-top: 7px;
  object-fit: cover;
  transition: all 0.2s ease;
  width: 100px;
}

.indi-mobile-375 .film-thumb-3:hover {
  transform: scale(1.04);
}

.indi-mobile-375 .film-thumb-4 {
  cursor: pointer;
  height: 150px;
  margin-top: 6px;
  object-fit: cover;
  transition: all 0.2s ease;
  width: 100px;
}

.indi-mobile-375 .film-thumb-4:hover {
  transform: scale(1.04);
}

.indi-mobile-375 .flex-col-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  min-height: 621px;
  width: 101px;
}

.indi-mobile-375 .film-thumb-5 {
  cursor: pointer;
  height: 150px;
  margin-left: 0.44px;
  object-fit: cover;
  transition: all 0.2s ease;
  width: 100px;
}

.indi-mobile-375 .film-thumb-5:hover {
  transform: scale(1.04);
}

.indi-mobile-375 .film-thumb-6 {
  cursor: pointer;
  height: 150px;
  margin-left: 0.44px;
  margin-top: 7px;
  object-fit: cover;
  transition: all 0.2s ease;
  width: 100px;
}

.indi-mobile-375 .film-thumb-6:hover {
  transform: scale(1.04);
}

.indi-mobile-375 .film-thumb-7 {
  cursor: pointer;
  height: 150px;
  margin-left: 0.06px;
  margin-top: 7px;
  object-fit: cover;
  transition: all 0.2s ease;
  width: 100px;
}

.indi-mobile-375 .film-thumb-7:hover {
  transform: scale(1.04);
}

.indi-mobile-375 .film-thumb-8 {
  cursor: pointer;
  height: 150px;
  margin-left: 0.06px;
  margin-top: 6px;
  object-fit: cover;
  transition: all 0.2s ease;
  width: 100px;
}

.indi-mobile-375 .film-thumb-8:hover {
  transform: scale(1.04);
}

.indi-mobile-375 .container-promotion-1 {
  align-items: center;
  background-image: url(https://media.giphy.com/media/l6mBchxYZc7Sw/giphy.gif?cid=ecf05e474frq09rr7jscey2cy3i5jgaufeh0n3nh81t50que&rid=giphy.gif&ct=g);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-top: 92px;
  max-height: 305px;
}

.indi-mobile-375 .title-3 {
  color: var(--white);
  font-family: var(--font-family-work_sans);
  font-size: 25px;
  font-weight: 800;
  height: 44px;
  letter-spacing: 0;
  line-height: 25.3px;
  margin-left: 21px;
  margin-top: 37px;
  width: 342px;
}

.indi-mobile-375 .paragraph-1 {
  color: var(--white);
  font-family: var(--font-family-work_sans);
  font-size: var(--font-size-m);
  font-weight: 300;
  height: 72px;
  letter-spacing: 0;
  line-height: 18px;
  margin-left: -88px;
  margin-top: 6px;
  width: 233px;
}

.indi-mobile-375 .email-input-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 35px;
  margin-left: -110px;
  margin-top: 18px;
  width: 211px;
}

.indi-mobile-375 .your-email {
  background-color: transparent;
  border: 0;
  color: var(--white);
  font-family: var(--font-family-work_sans);
  font-size: var(--font-size-s);
  font-weight: 400;
  height: 34px;
  letter-spacing: 0;
  line-height: 15px;
  margin-left: -2px;
  padding: 0;
  width: 209px;
}

.indi-mobile-375 .your-email::placeholder {
  color: #ffffff99;
}

.indi-mobile-375 .underline-1 {
  background-color: var(--white);
  height: 1px;
  margin-left: -3.7px;
  width: 207.33px;
}

.indi-mobile-375 .btn-submit-1 {
  align-items: center;
  border-radius: 32.45px;
  cursor: pointer;
  display: flex;
  height: 30px;
  justify-content: center;
  margin-left: -238px;
  margin-top: 23px;
  transition: all 0.2s ease;
  width: 83px;
}

.indi-mobile-375 .btn-submit-1:hover {
  transform: scale(1.1);
}

.indi-mobile-375 .submit {
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  width: 43px;
}

.indi-mobile-375 .sidebar-menu-1 {
  align-items: center;
  background-color: var(--licorice);
  bottom: 0;
  display: flex;
  height: 53px;
  justify-content: center;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.indi-mobile-375 .bottom-menu-icons {
  display: flex;
  height: 40px;
  margin-top: -1px;
  width: 323px;
}

.indi-mobile-375 .menu-ico-mobile {
  display: flex;
  height: 41px;
  margin-left: 0;
  width: 41px;
}

.indi-mobile-375 .fav-icon {
  cursor: pointer;
  height: 18px;
  letter-spacing: 0;
  margin-left: 11px;
  margin-top: 11.5px;
  text-align: center;
  transition: all 0.2s ease;
  width: 19px;
}

.indi-mobile-375 .fav-icon:hover {
  color: #FF4E4E
}

.indi-mobile-375 .menu-ico-mobile-1 {
  display: flex;
  height: 41px;
  margin-left: 53.0px;
  margin-top: 0;
  width: 41px;
}

.indi-mobile-375 .menu-ico-mobile-2 {
  display: flex;
  height: 41px;
  margin-left: 54px;
  width: 41px;
}

.indi-mobile-375 .menu-ico-mobile-3 {
  display: flex;
  height: 41px;
  margin-left: 53px;
  width: 41px;
}
/* screen - indi-tablet-768 */

.indi-tablet-768 {
  background-color: var(--log-cabin);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  min-height: 2236px;
  min-width: 768px;
  width: 100%;
}

.indi-tablet-768 .content-2 {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 1889px;
  margin-left: 64px;
  max-height: 1889px;
  z-index: 1;
}

.indi-tablet-768 .hero-container-2 {
  align-items: center;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/6124c11f5c8ef406a632c3fd/files/trailer-m-1.gif);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex: 1;
  flex-direction: column;
  max-height: 365px;
}

.indi-tablet-768 .title-5 {
  color: var(--white);
  font-weight: 400;
  height: 74px;
  line-height: 73.4px;
  margin-left: -436px;
  margin-top: 23px;
  white-space: nowrap;
  width: 202px;
}

.indi-tablet-768 .film-info-2 {
  color: var(--sonic-silver);
  font-family: var(--font-family-work_sans);
  font-size: var(--font-size-m);
  font-weight: 400;
  height: 19px;
  letter-spacing: 0;
  line-height: 19px;
  margin-left: -451px;
  margin-top: 1px;
  white-space: nowrap;
  width: 187px;
}

.indi-tablet-768 .film-about-2 {
  color: var(--white);
  font-family: var(--font-family-work_sans);
  font-size: var(--font-size-l);
  font-weight: 300;
  height: 66px;
  letter-spacing: 0;
  line-height: 22px;
  margin-left: -355px;
  margin-top: 14px;
  width: 283px;
}

.indi-tablet-768 .film-credits-2 {
  color: var(--white);
  font-family: var(--font-family-work_sans);
  font-size: var(--font-size-m);
  font-weight: 400;
  height: 38px;
  letter-spacing: 0;
  line-height: 19px;
  margin-left: -407px;
  margin-top: 16px;
  width: 231px;
}

.indi-tablet-768 .btn-watch-2 {
  align-items: flex-start;
  background-color: var(--cod-gray);
  border: 0.8px solid var(--indi-red);
  border-radius: 35.43px;
  cursor: pointer;
  display: flex;
  height: 38.21px;
  margin-left: -515.4px;
  margin-top: 27px;
  min-width: 122.62px;
  padding: 7.0px 18.6px;
  transition: all 0.2s ease;
}

.indi-tablet-768 .btn-watch-2:hover {
  transform: scale(1.1);
}

.indi-tablet-768 .play-ico-2 {
  align-self: center;
  height: 11px;
  margin-bottom: 1.7px;
  width: 10px;
}

.indi-tablet-768 .text-3 {
  color: var(--indi-red);
  font-family: var(--font-family-work_sans);
  font-size: var(--font-size-l);
  font-weight: 300;
  height: 22px;
  letter-spacing: 0;
  line-height: 22px;
  margin-left: 6px;
  white-space: nowrap;
}

.indi-tablet-768 .container-films-1-2 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-left: -32px;
  min-height: 762px;
  width: 606px;
}

.indi-tablet-768 .title-4 {
  color: var(--white);
  font-family: var(--font-family-work_sans);
  font-size: var(--font-size-xxxxl);
  font-weight: 500;
  letter-spacing: 0;
  line-height: 22px;
  margin-top: 59px;
  min-height: 49px;
  width: 606px;
}

.indi-tablet-768 .row {
  align-items: flex-start;
  display: flex;
  min-width: 606px;
}

.indi-tablet-768 .film-thumb-9 {
  cursor: pointer;
  height: 208px;
  margin-top: -0.25px;
  object-fit: cover;
  transition: all 0.2s ease;
  width: 143px;
}

.indi-tablet-768 .film-thumb-9:hover {
  transform: scale(1.04);
}

.indi-tablet-768 .film-thumb-10 {
  cursor: pointer;
  height: 208px;
  margin-left: 11px;
  margin-top: -0.25px;
  object-fit: cover;
  transition: all 0.2s ease;
  width: 144px;
}

.indi-tablet-768 .film-thumb-10:hover {
  transform: scale(1.04);
}

.indi-tablet-768 .film-thumb-11 {
  cursor: pointer;
  height: 208px;
  margin-left: 10px;
  margin-top: -0.25px;
  object-fit: cover;
  transition: all 0.2s ease;
  width: 144px;
}

.indi-tablet-768 .film-thumb-11:hover {
  transform: scale(1.04);
}

.indi-tablet-768 .row-1 {
  align-items: flex-start;
  display: flex;
  margin-top: 15px;
  min-width: 606px;
}

.indi-tablet-768 .row-2 {
  align-items: flex-start;
  display: flex;
  margin-top: 15px;
  min-width: 606px;
}

.indi-tablet-768 .film-thumb-12 {
  cursor: pointer;
  height: 208px;
  object-fit: cover;
  transition: all 0.2s ease;
  width: 143px;
}

.indi-tablet-768 .film-thumb-12:hover {
  transform: scale(1.04);
}

.indi-tablet-768 .film-thumb-13 {
  cursor: pointer;
  height: 208px;
  margin-left: 11px;
  object-fit: cover;
  transition: all 0.2s ease;
  width: 144px;
}

.indi-tablet-768 .film-thumb-13:hover {
  transform: scale(1.04);
}

.indi-tablet-768 .film-thumb-14 {
  cursor: pointer;
  height: 208px;
  margin-left: 10px;
  object-fit: cover;
  transition: all 0.2s ease;
  width: 144px;
}

.indi-tablet-768 .film-thumb-14:hover {
  transform: scale(1.04);
}

.indi-tablet-768 .row-3 {
  align-items: flex-start;
  display: flex;
  min-width: 606px;
}

.indi-tablet-768 .row-4 {
  align-items: flex-start;
  display: flex;
  margin-top: 15px;
  min-width: 606px;
}

.indi-tablet-768 .row-5 {
  align-items: flex-start;
  display: flex;
  margin-top: 15px;
  min-width: 606px;
}

.indi-tablet-768 .sidebar-menu-2 {
  align-items: center;
  background-color: var(--licorice);
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 64px;
  z-index: 3;
}

.indi-tablet-768 .indi-logo-2 {
  height: 25px;
  margin-left: 1px;
  margin-top: 19px;
  width: 31px;
}

.indi-tablet-768 .menu-ico-tablet {
  display: flex;
  height: 33px;
  margin-left: 1px;
  margin-top: 23px;
  width: 33px;
}

.indi-tablet-768 .film-icon {
  cursor: pointer;
  height: 14px;
  letter-spacing: 0;
  margin-left: 7px;
  margin-top: 9.3px;
  text-align: center;
  transition: all 0.2s ease;
  width: 19px;
}

.indi-tablet-768 .film-icon:hover {
  color: #FF4E4E
}

.indi-tablet-768 .menu-ico-tablet-1 {
  display: flex;
  height: 33px;
  margin-left: 1px;
  margin-top: 25px;
  width: 33px;
}

.indi-tablet-768 .menu-ico-tablet-2 {
  display: flex;
  height: 33px;
  margin-left: 1px;
  margin-top: 24px;
  width: 33px;
}

.indi-tablet-768 .container-promotion-2 {
  background-color: var(--cod-gray);
  display: flex;
  flex: 1;
  height: 270px;
  justify-content: flex-end;
  margin-left: 64px;
  max-height: 270px;
  z-index: 2;
}

.indi-tablet-768 .stay-connected {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 169px;
  margin-left: 33px;
  margin-right: 16px;
  margin-top: 37px;
  width: 371px;
}

.indi-tablet-768 .stay-connected-text-1 {
  display: flex;
  flex-direction: column;
  height: 132px;
  width: 371px;
}

.indi-tablet-768 .title-6 {
  color: var(--white);
  font-family: var(--font-family-work_sans);
  font-size: 30px;
  font-weight: 800;
  height: 44px;
  letter-spacing: 0;
  line-height: 25.3px;
}

.indi-tablet-768 .paragraph-2 {
  color: var(--white);
  font-family: var(--font-family-work_sans);
  font-size: var(--font-size-l);
  font-weight: 300;
  height: 72px;
  letter-spacing: 0;
  line-height: 22px;
  margin-top: 16px;
}

.indi-tablet-768 .stay-connected-form-1 {
  display: flex;
  margin-left: -68px;
  margin-top: 2px;
  width: 303px;
}

.indi-tablet-768 .email-input-2 {
  display: flex;
  flex-direction: column;
  height: 35px;
  width: 211px;
}

.indi-tablet-768 .your-email-1 {
  background-color: transparent;
  border: 0;
  color: var(--white);
  font-family: var(--font-family-work_sans);
  font-size: var(--font-size-m);
  font-weight: 400;
  height: 34px;
  letter-spacing: 0;
  line-height: 19px;
  padding: 0;
  width: 209px;
}

.indi-tablet-768 .your-email-1::placeholder {
  color: #ffffff99;
}

.indi-tablet-768 .underline-2 {
  background-color: var(--white);
  height: 1px;
  width: 207.33px;
}

.indi-tablet-768 .btn-submit-2 {
  align-items: center;
  border-radius: 32.45px;
  cursor: pointer;
  display: flex;
  height: 30px;
  justify-content: center;
  margin-left: 9px;
  margin-top: 5px;
  transition: all 0.2s ease;
  width: 83px;
}

.indi-tablet-768 .btn-submit-2:hover {
  transform: scale(1.1);
}

.indi-tablet-768 .submit-1 {
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  width: 43px;
}

.indi-tablet-768 .gif-cinema-1 {
  background-image: url(https://media.giphy.com/media/l6mBchxYZc7Sw/giphy.gif?cid=ecf05e474frq09rr7jscey2cy3i5jgaufeh0n3nh81t50que&rid=giphy.gif&ct=g);
  background-position: 50% 50%;
  background-size: cover;
  width: 284px;
}
@media screen and (max-width: 767px) {
  .screen.indi-desktop-1440 { 
    display: none;
   }
  .screen.indi-tablet-768 { 
    display: none;
   }
}
@media screen and (min-width: 768px) and (max-width: 1530px) {
  .screen.indi-mobile-375 { 
    display: none;
   }
  .screen.indi-desktop-1440 { 
    display: none;
   }
}
@media screen and (min-width: 1531px) {
  .screen.indi-mobile-375 { 
    display: none;
   }
  .screen.indi-tablet-768 { 
    display: none;
   }
}