<template>
  <div class="btn-watch">
    <img
      class="play-ico"
      src="https://anima-uploads.s3.amazonaws.com/projects/6165b3e879c1baabe259dd1f/releases/6165b46e28a459c5bc0fbb28/img/play-ico-1@2x.png"
    />
    <div class="text valign-text-middle">{{ text }}</div>
  </div>
</template>

<script>
export default {
  name: "ButtonWatchDesktop",
  props: ["text"],
};
</script>

<style>
.btn-watch {
  align-items: flex-start;
  background-color: var(--color-background-bold);
  border: 1px solid var(--color-primary);
  border-radius: 40.07px;
  cursor: pointer;
  display: flex;
  height: 43.22px;
  justify-content: flex-end;
  margin-left: -968.3px;
  margin-top: 33px;
  min-width: 155.67px;
  padding: 7.9px 23.5px;
  transition: all 0.2s ease;
}

.btn-watch:hover {
  transform: scale(1.1);
}

.play-ico {
  align-self: center;
  height: 12px;
  margin-bottom: 2.04px;
  width: 12px;
}

.text {
  color: var(--color-primary);
  font-family: var(--font-text);
  font-size: var(--font-size-xl2);
  font-weight: 300;
  height: 26px;
  letter-spacing: 0;
  line-height: 26px;
  margin-left: 7px;
  white-space: nowrap;
}
</style>
