<template>
  <img :class="[`film-thumb-2`, className || ``]" :src="src" />
</template>

<script>
export default {
  name: "FilmThumbDesktop",
  props: ["src", "className"],
};
</script>

<style>
.film-thumb-2 {
  cursor: pointer;
  height: 280px;
  object-fit: cover;
  transition: all 0.2s ease;
  width: 190px;
}

.film-thumb-2:hover {
  transform: scale(1.04);
}

.film-thumb-2.film-thumb-1 {
  margin-top: 15px;
}
</style>
