<template>
  <div class="container-films-1">
    <div class="section-title worksans-medium-white-20px">{{ sectionTitle }}</div>
    <div class="flex-row">
      <div class="flex-col">
        <film-thumb-desktop :src="filmThumbDesktopProps.src" />
        <film-thumb-desktop :src="filmThumbDesktop2Props.src" :className="filmThumbDesktop2Props.className" />
      </div>
      <div class="flex-col-1">
        <film-thumb-desktop :src="filmThumbDesktop3Props.src" />
        <film-thumb-desktop :src="filmThumbDesktop4Props.src" :className="filmThumbDesktop4Props.className" />
      </div>
      <div class="flex-col-2">
        <film-thumb-desktop :src="filmThumbDesktop5Props.src" />
        <film-thumb-desktop :src="filmThumbDesktop6Props.src" :className="filmThumbDesktop6Props.className" />
      </div>
      <div class="flex-col-1">
        <film-thumb-desktop :src="filmThumbDesktop7Props.src" />
        <film-thumb-desktop :src="filmThumbDesktop8Props.src" :className="filmThumbDesktop8Props.className" />
      </div>
      <div class="flex-col-2">
        <film-thumb-desktop :src="filmThumbDesktop9Props.src" />
        <film-thumb-desktop :src="filmThumbDesktop10Props.src" :className="filmThumbDesktop10Props.className" />
      </div>
      <div class="flex-col-1">
        <film-thumb-desktop :src="filmThumbDesktop11Props.src" />
        <film-thumb-desktop :src="filmThumbDesktop12Props.src" :className="filmThumbDesktop12Props.className" />
      </div>
    </div>
  </div>
</template>

<script>
import FilmThumbDesktop from "./FilmThumbDesktop";
export default {
  name: "FilmsGrid",
  components: {
    FilmThumbDesktop,
  },
  props: [
    "sectionTitle",
    "filmThumbDesktopProps",
    "filmThumbDesktop2Props",
    "filmThumbDesktop3Props",
    "filmThumbDesktop4Props",
    "filmThumbDesktop5Props",
    "filmThumbDesktop6Props",
    "filmThumbDesktop7Props",
    "filmThumbDesktop8Props",
    "filmThumbDesktop9Props",
    "filmThumbDesktop10Props",
    "filmThumbDesktop11Props",
    "filmThumbDesktop12Props",
  ],
};
</script>

<style>
.container-films-1 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-left: -2px;
  min-height: 715px;
  padding: 0px 0;
  width: 1232px;
}

.section-title {
  letter-spacing: 0;
  line-height: 22px;
  margin-top: 81px;
  min-height: 58px;
  width: 1232px;
}

.flex-row {
  align-items: flex-start;
  display: flex;
  height: 576px;
  min-width: 1231px;
}

.flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 576px;
  position: relative;
  width: 190px;
}

.flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 18px;
  min-height: 576px;
  position: relative;
  width: 190px;
}

.flex-col-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 17px;
  min-height: 576px;
  position: relative;
  width: 190px;
}
</style>
