<template>
  <div class="container-promotion">
    <div class="stay-conncted">
      <div class="stay-connected-text">
        <div class="title">Stay Connected</div>
        <p class="paragraph worksans-light-white-15px">
          From cult classics to modern masterpieces.<br />Stay updated with the latest movies, news and articles from
          INDI.
        </p>
      </div>
      <div class="stay-connected-form">
        <div class="email-input">
          <input class="email worksans-normal-white-12px" name="email" placeholder="Your Email" type="email" />
          <div class="underline"></div>
        </div>
        <x-button />
      </div>
    </div>
    <div class="gif-cinema"></div>
  </div>
</template>

<script>
import xButton from "./xButton";
export default {
  name: "FooterDesktop",
  components: {
    xButton,
  },
};
</script>

<style>
.container-promotion {
  background-color: var(--color-background-bold);
  display: flex;
  flex: 1;
  height: 386px;
  justify-content: flex-end;
  max-height: 386px;
  z-index: 1;
}

.stay-conncted {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 220px;
  margin-left: 158px;
  margin-right: 219px;
  margin-top: 83px;
  width: 653px;
}

.stay-connected-text {
  display: flex;
  flex-direction: column;
  height: 138px;
  margin-left: 1px;
  width: 562px;
}

.title {
  color: var(--color-foreground);
  font-family: var(--font-text);
  font-size: var(--font-size-headline-mobile);
  font-weight: 800;
  height: 44px;
  letter-spacing: 0;
  line-height: 25.3px;
  width: 517px;
}

.paragraph {
  height: 72px;
  letter-spacing: 0;
  line-height: 26px;
  margin-top: 22px;
}

.stay-connected-form {
  display: flex;
  margin-left: -210px;
  margin-top: 46px;
  position: relative;
  width: 351px;
}

.email-input {
  display: flex;
  flex-direction: column;
  height: 36px;
  width: 252px;
}

.email {
  background-color: transparent;
  border: 0;
  height: 34px;
  letter-spacing: 0;
  line-height: 24px;
  padding: 0;
  width: 250px;
}

.email::placeholder {
  color: #ffffff99;
}

.underline {
  background-color: var(--color-foreground);
  height: 1px;
  margin-top: 1px;
  width: 250px;
}

.gif-cinema {
  background-image: url(https://media.giphy.com/media/l6mBchxYZc7Sw/giphy.gif?cid=ecf05e474frq09rr7jscey2cy3i5jgaufeh0n3nh81t50que&rid=giphy.gif&ct=g);
  background-position: 50% 50%;
  background-size: cover;
  margin-right: 1px;
  width: 500px;
}
</style>
