<template>
  <div class="hero-container" :style="{ 'background-image': 'url(' + trailer + ')' }">
    <h1 class="main-title valign-text-middle headline---desktop-80px">{{ title }}</h1>
    <p class="film-info">{{ info }}</p>
    <p class="film-about worksans-light-white-15px" v-html="about"></p>
    <p class="film-credits worksans-normal-white-12px" v-html="credits"></p>
    <button-watch-desktop text="Watch Now" />
  </div>
</template>

<script>
import ButtonWatchDesktop from "./ButtonWatchDesktop";
export default {
  name: "HeroFilmPreviewDesktop",
  components: {
    ButtonWatchDesktop,
  },
  props: ["trailer", "title", "info", "about", "credits"],
};
</script>

<style>
.hero-container {
  align-items: center;
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex: 1;
  flex-direction: column;
  max-height: 544px;
  position: relative;
}

.main-title {
  color: var(--color-foreground);
  font-weight: 400;
  height: 117px;
  margin-left: -802px;
  margin-top: 28px;
  width: 322px;
}

.film-info {
  color: var(--color-secondary);
  font-family: var(--font-text);
  font-size: var(--font-size-l2);
  font-weight: 400;
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  margin-left: -900px;
  margin-top: 5px;
  white-space: nowrap;
  width: 224px;
}

.film-about {
  height: 78px;
  letter-spacing: 0;
  line-height: 26px;
  margin-left: -732px;
  margin-top: 20px;
  width: 386px;
}

.film-credits {
  height: 48px;
  letter-spacing: 0;
  line-height: 24px;
  margin-left: -846px;
  margin-top: 24px;
  width: 278px;
}
</style>
