<template>
  <div class="indi-desktop-1440 screen">
    <div class="content">
      <hero-film-preview-desktop
        trailer="https://anima-uploads.s3.amazonaws.com/projects/6124c11f5c8ef406a632c3fd/files/trailer-m-1.gif"
        title="SAM AWAY"
        info="Adventure, Fantasy  |  2019  |  136 Min."
        about="When a tornado hits through City of Peaceville,<br />Samantha (Jenny Loifer) and her dog, Ricko, <br />are whisked away in their house to an amazing journey."
        credits="Director: Todd Burns<br />Cast: Jenny Loifer, Sarah Obrien, Larry Moss Jr."
      />
      <films-grid
        sectionTitle="Recently Added Films"
        :filmThumbDesktopProps="{
          src: `https://anima-uploads.s3.amazonaws.com/projects/6165b3e879c1baabe259dd1f/releases/616678779236d6400be43d3f/img/film-thumb-60@2x.png`,
        }"
        :filmThumbDesktop2Props="{
          src: `https://anima-uploads.s3.amazonaws.com/projects/6165b3e879c1baabe259dd1f/releases/616678779236d6400be43d3f/img/film-thumb-61@2x.png`,
          className: `film-thumb-1`,
        }"
        :filmThumbDesktop3Props="{
          src: `https://anima-uploads.s3.amazonaws.com/projects/6165b3e879c1baabe259dd1f/releases/616678779236d6400be43d3f/img/film-thumb-62@2x.png`,
        }"
        :filmThumbDesktop4Props="{
          src: `https://anima-uploads.s3.amazonaws.com/projects/6165b3e879c1baabe259dd1f/releases/6166856ff24815abb4ab4abe/img/film-thumb-39@2x.png`,
          className: `film-thumb-1`,
        }"
        :filmThumbDesktop5Props="{
          src: `https://anima-uploads.s3.amazonaws.com/projects/6165b3e879c1baabe259dd1f/releases/6166856ff24815abb4ab4abe/img/film-thumb-40@2x.png`,
        }"
        :filmThumbDesktop6Props="{
          src: `https://anima-uploads.s3.amazonaws.com/projects/6165b3e879c1baabe259dd1f/releases/616678779236d6400be43d3f/img/film-thumb-65@2x.png`,
          className: `film-thumb-1`,
        }"
        :filmThumbDesktop7Props="{
          src: `https://anima-uploads.s3.amazonaws.com/projects/6165b3e879c1baabe259dd1f/releases/616678779236d6400be43d3f/img/film-thumb-66@2x.png`,
        }"
        :filmThumbDesktop8Props="{
          src: `https://anima-uploads.s3.amazonaws.com/projects/6165b3e879c1baabe259dd1f/releases/6166856ff24815abb4ab4abe/img/film-thumb-43@2x.png`,
          className: `film-thumb-1`,
        }"
        :filmThumbDesktop9Props="{
          src: `https://anima-uploads.s3.amazonaws.com/projects/6165b3e879c1baabe259dd1f/releases/6166856ff24815abb4ab4abe/img/film-thumb-44@2x.png`,
        }"
        :filmThumbDesktop10Props="{
          src: `https://anima-uploads.s3.amazonaws.com/projects/6165b3e879c1baabe259dd1f/releases/616678779236d6400be43d3f/img/film-thumb-70@2x.png`,
          className: `film-thumb-1`,
        }"
        :filmThumbDesktop11Props="{
          src: `https://anima-uploads.s3.amazonaws.com/projects/6165b3e879c1baabe259dd1f/releases/6166856ff24815abb4ab4abe/img/film-thumb-45@2x.png`,
        }"
        :filmThumbDesktop12Props="{
          src: `https://anima-uploads.s3.amazonaws.com/projects/6165b3e879c1baabe259dd1f/releases/616678779236d6400be43d3f/img/film-thumb-71@2x.png`,
          className: `film-thumb-1`,
        }"
      />
      <films-grid
        sectionTitle="Top Rated Films"
        :filmThumbDesktopProps="{
          src: `https://anima-uploads.s3.amazonaws.com/projects/6165b3e879c1baabe259dd1f/releases/6166856ff24815abb4ab4abe/img/film-thumb-24@2x.png`,
        }"
        :filmThumbDesktop2Props="{
          src: `https://anima-uploads.s3.amazonaws.com/projects/6165b3e879c1baabe259dd1f/releases/6166856ff24815abb4ab4abe/img/film-thumb-25@2x.png`,
          className: `film-thumb-1`,
        }"
        :filmThumbDesktop3Props="{
          src: `https://anima-uploads.s3.amazonaws.com/projects/6165b3e879c1baabe259dd1f/releases/6166856ff24815abb4ab4abe/img/film-thumb-26@2x.png`,
        }"
        :filmThumbDesktop4Props="{
          src: `https://anima-uploads.s3.amazonaws.com/projects/6165b3e879c1baabe259dd1f/releases/6166856ff24815abb4ab4abe/img/film-thumb-27@2x.png`,
          className: `film-thumb-1`,
        }"
        :filmThumbDesktop5Props="{
          src: `https://anima-uploads.s3.amazonaws.com/projects/6165b3e879c1baabe259dd1f/releases/6166856ff24815abb4ab4abe/img/film-thumb-28@2x.png`,
        }"
        :filmThumbDesktop6Props="{
          src: `https://anima-uploads.s3.amazonaws.com/projects/6165b3e879c1baabe259dd1f/releases/6166856ff24815abb4ab4abe/img/film-thumb-29@2x.png`,
          className: `film-thumb-1`,
        }"
        :filmThumbDesktop7Props="{
          src: `https://anima-uploads.s3.amazonaws.com/projects/6165b3e879c1baabe259dd1f/releases/616678779236d6400be43d3f/img/film-thumb-54@2x.png`,
        }"
        :filmThumbDesktop8Props="{
          src: `https://anima-uploads.s3.amazonaws.com/projects/6165b3e879c1baabe259dd1f/releases/616678779236d6400be43d3f/img/film-thumb-55@2x.png`,
          className: `film-thumb-1`,
        }"
        :filmThumbDesktop9Props="{
          src: `https://anima-uploads.s3.amazonaws.com/projects/6165b3e879c1baabe259dd1f/releases/6166856ff24815abb4ab4abe/img/film-thumb-32@2x.png`,
        }"
        :filmThumbDesktop10Props="{
          src: `https://anima-uploads.s3.amazonaws.com/projects/6165b3e879c1baabe259dd1f/releases/6166856ff24815abb4ab4abe/img/film-thumb-34@2x.png`,
          className: `film-thumb-1`,
        }"
        :filmThumbDesktop11Props="{
          src: `https://anima-uploads.s3.amazonaws.com/projects/6165b3e879c1baabe259dd1f/releases/6166856ff24815abb4ab4abe/img/film-thumb-33@2x.png`,
        }"
        :filmThumbDesktop12Props="{
          src: `https://anima-uploads.s3.amazonaws.com/projects/6165b3e879c1baabe259dd1f/releases/616678779236d6400be43d3f/img/film-thumb-59@2x.png`,
          className: `film-thumb-1`,
        }"
      />
    </div>
    <menu-desktop />
    <footer-desktop />
  </div>
</template>

<script>
import HeroFilmPreviewDesktop from "./HeroFilmPreviewDesktop";
import FilmsGrid from "./FilmsGrid";
import MenuDesktop from "./MenuDesktop";
import FooterDesktop from "./FooterDesktop";
export default {
  name: "IndiDesktop",
  components: {
    HeroFilmPreviewDesktop,
    FilmsGrid,
    MenuDesktop,
    FooterDesktop,
  },
};
</script>

<style>
.indi-desktop-1440 {
  background-color: var(--color-background-secondary);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  min-height: 2492px;
  min-width: 1531px;
  position: relative;
  width: 100%;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 1974px;
  margin-left: 109px;
  max-height: 1974px;
  position: relative;
  z-index: 2;
}
</style>
