<template>
  <div class="sidebar-menu">
    <img
      class="indi-logo"
      src="https://anima-uploads.s3.amazonaws.com/projects/6165b3e879c1baabe259dd1f/releases/6165b46e28a459c5bc0fbb28/img/indi-logo-1@2x.png"
    />
    <icon-large iconId="1" />
    <icon-large iconId="2" className="menu-ico-desktop-2" />
    <icon-large iconId="3" className="menu-ico-desktop" />
    <icon-large iconId="4" className="menu-ico-desktop" />
  </div>
</template>

<script>
import IconLarge from "./IconLarge";
export default {
  name: "MenuDesktop",
  components: {
    IconLarge,
  },
};
</script>

<style>
.sidebar-menu {
  align-items: center;
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 109px;
  z-index: 3;
}

.indi-logo {
  height: 31.5px;
  margin-left: -1.1px;
  margin-top: 30px;
  width: 40px;
}
</style>
