<template>
  <div class="btn-submit btn-border"><div class="text-1 worksans-normal-white-12px">Submit</div></div>
</template>

<script>
export default {
  name: "xButton",
};
</script>

<style>
.btn-submit {
  align-items: center;
  border-radius: 32.45px;
  cursor: pointer;
  display: flex;
  height: 30px;
  justify-content: center;
  margin-left: 16px;
  margin-top: 6px;
  transition: all 0.2s ease;
  width: 83px;
}

.btn-submit:hover {
  transform: scale(1.1);
}

.text-1 {
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  width: 43px;
}
</style>
